*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 z-index: 999; /* Usei para ficar por tras da navbar */
}
  
body{
    color: #b0b0b0b7;
}

  /* Parte de Navegaçao */

#navbar{
      background: rgb(0, 0, 0);
      position: fixed;
      padding: 25px;
      width: 100%;
      box-shadow: 0 1px 10px #a600ff;
}
.cabesalho{
    display: flex;
    justify-content:space-between;
    margin: 0 200px;
}

.cabesalho h1{
  color: #a600ff;
}

ul{
    display: flex;
    gap: 100px;
    list-style: none;
  }


a{  font-size: 1.5rem;
    color: #b0b0b0;
    text-decoration-line: none;
}

    /*Pate do conteudo*/

.Conteudo{
  background: black;
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 100vh;
  z-index: 1;
}

.texto {
    z-index: 1;
   display: grid;
   gap: 35px;
}

.texto h1{
  font-family:serif;
  font-size: clamp(20px, 2vw, 30px);
  color: rgb(255, 255, 255);
  
  span{
   color: #a600ff;
  }
}


/*        ANIMAÇAO DE ESCREVER          */

.texto h2{
  font-size: clamp(30px, 2.5vw, 50px);
  border-right:2px solid  #a600ff;
  white-space: nowrap;
  width: fit-content;
  overflow: hidden;
  color:#a600ff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  animation: texto 3s steps(18) infinite,
             ponteiro 0.5s infinite;

 
}

@keyframes ponteiro{
   50%{ 
    border-color: transparent;
   }}
      
@keyframes texto{
    0%{
        width: 0;
}50%{
        width: 18ch;
}}

.texto p{
   font-size: clamp(14px, 2vw, 20px);
}



/*             REDES SOCIAIS           */
.icones{
    display: flex;
    gap: 15px;
    text-align: center;
}
.icones div{
   padding: 15px;
   border-radius: 50%;
   color: #a600ff;
   border: 2px solid #a600ff;
}

.icones div:hover{
    box-shadow: 0 0 5px #a600ff,
                0 0 6px #a600ff,
               0 0 20px #a600ff;
}







/*              FOTO DE PERFIL           */
#perfil{
    width: 500px;
    max-width: 90%;
    z-index: 1;
    border: 2px solid #a600ff;
    box-shadow: 0 0 10px #a600ff, 
                0 0 30px #a600ff,
                0 0 40px #a600ff;
   
    border-radius: 50%;
    animation: flutuando 6s ease-in-out infinite;
}

@keyframes flutuando{
 0%,100% {
     transform: translateY(0);
 } 50%{
     transform: translateY(-10px);
 }
}




/*             PARTE SOBRE MIM        */

#Sobre_mim{
    background: black;
    height: 100vh;
}

.titulo{
    z-index: 1;
    top: 140px;
    position: relative;
    text-align: center;
    font-size: 3rem;
    color: #a600ff;
}

.Conteudo_sobre{
    margin-top: 60px;
    justify-content:center;
    min-height: 100%;
    align-items: center;
    display: flex;
    gap: 100px;
    height: 100%;
}
.borda_imagem, .borda_texto{
   z-index: 1;
   border-radius: 20px;
   height: 500px;
   width: 500px;
   background:transparent;
   border: 2px solid #2c0243;
   box-shadow:
    0 0 10px #2a0c3b,
    0 0 30px #180523;
}

.borda_texto:hover,
.borda_imagem{
     border: 2px solid #a600ff;
     box-shadow:
    0 0 10px #a600ff,
    0 0 30px #a600ff;
}

.borda_imagem img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px;
   z-index: 1;
   border: 1px solid #a600ff;
}

.borda_texto{
    padding: 40px;
    height: 500px;
    width: 800px;
}

.borda_texto h2{
    color:#a600ff;
    padding: 0 0 10px;
}

.borda_texto p{
    font-size: clamp(14px, 2vw, 20px);
}






            /*  TERCEIRA PARTE   */

#Projetos{
 min-height: 100vh;
 background: black;
}

/*                        TÍTULO                          */

/*                        CARDS                          */

.meusprojetos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-height: 100vh;
}

.titulo3{
    position: relative;
    top: 140px;
    text-align: center;
}

.projeto{
       height: 400px;
       width: 400px;
       background: transparent;
       border-radius: 20px;
       border: 1px solid rgb(73, 0, 128);
       transition: 0.3s;
}

.projeto:hover{
    transform: scale(1.1);
}




@media (max-width: 768px) {
    


    .texto h2{
       font-size: 20px;
       animation: none;
    }
    .texto p{
        font-size: 15px;
    }
    
  .Conteudo {
    flex-direction: column-reverse;
    text-align: center;
    
  }

  .icones{
    display: flex;
    justify-content: center;
  }

  #perfil {
    width: 35vh;
    margin-top: 150px;
    margin-bottom: 10px;
  }



  /* Sobre mim   */

}
